

@font-face {
    font-family: 'sacramento';
    src: url('./fonts/Sacramento.ttf') format('truetype');
}

@font-face {
    font-family : 'jost';
    src: url('./fonts/Jost.ttf') format('truetype');
}

.about{
    display: flex;
    flex-direction: column;
    margin: 25px;
    flex-wrap: wrap;
    gap: 20px

}

.about > h2 {
    font-family: 'sacramento';
    font-weight: 100;
    font-size: 24px;
}

.about > h1 {
    font-family: 'jost';
    font-weight: 400;
    font-size: 42px;
    letter-spacing: -2.3px;
    line-height: 0.94em;
}

.aboutImg {
    overflow: hidden;
    width: 100%;
    border-radius: 32px 32px 32px 32px;
    box-shadow: 34px -34px 0px 0px rgba(0, 0, 0, 0.05);
}

.aboutImageExp {
    display: flex;
  
    justify-content: center;
    align-items: stretch;
    flex-direction: column-reverse;

    background-color: #433D4E;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 15px 20px 15px;
    text-align: center;
    max-width: min-content;
}
.aboutImageExpTextNumber{
font-size: 32px;
color: aliceblue;
font-family: 'jost';
}

.aboutImageExpText{
    text-align: left;
    color: rgba(255, 255, 255, 0.65);
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-family: 'jost';
}


.aboutImageDiv{
    position: relative;
}


.aboutImageExp {
    position: absolute;
    margin: -74px 0px 0px 86px;
}


.aboutPara {
    margin-top: 30px;
}

.aboutPara > p {

    font-family: 'jost';
    font-size: 15px;
    margin-bottom: 20px;
    color: #444444;
    line-height: 1.9em;
}