

@font-face {
    font-family: 'sacramento';
    src: url('./fonts/Sacramento.ttf') format('truetype');
}

@font-face {
    font-family : 'jost';
    src: url('./fonts/Jost.ttf') format('truetype');
}

.about{
    display: flex;
    flex-direction: column;
    margin: 25px;
    flex-wrap: wrap;
    gap: 20px

}

.about > h2 {
    font-family: 'sacramento';
    font-weight: 100;
    font-size: 24px;
}

.about > h1 {
    font-family: 'jost';
    font-weight: 400;
    font-size: 42px;
    letter-spacing: -2.3px;
    line-height: 0.94em;
}

.aboutImg {
    overflow: hidden;
    width: 100%;
    border-radius: 32px 32px 32px 32px;
    box-shadow: 34px -34px 0px 0px rgba(0, 0, 0, 0.05);
}

.aboutImageExp {
    display: flex;
  
    justify-content: center;
    align-items: stretch;
    flex-direction: column-reverse;

    background-color: #433D4E;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 15px 20px 15px;
    text-align: center;
    max-width: min-content;
}
.aboutImageExpTextNumber{
font-size: 32px;
color: aliceblue;
font-family: 'jost';
}

.aboutImageExpText{
    text-align: left;
    color: rgba(255, 255, 255, 0.65);
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-family: 'jost';
}


.aboutImageDiv{
    position: relative;
}


.aboutImageExp {
    position: absolute;
    margin: -74px 0px 0px 86px;
}


.aboutPara {
    margin-top: 30px;
}

.aboutPara > p {

    font-family: 'jost';
    font-size: 15px;
    margin-bottom: 20px;
    color: #444444;
    line-height: 1.9em;
}

.aboutSecondPara > p {

        font-family: 'jost';
        font-size: 15px;
        color: #444444;
        line-height: 1.9em;
}

.aboutParaSign > h4 {
    text-align: right;
    font-family: 'sacramento';
    font-weight: 400;
    font-size: 28px;
    color: #222222;
}


/* Numbers and Tex section for the Bout */

.AboutSeccontainer {
        
  display : grid;
grid-template-rows : auto auto ;
  grid-template-columns : 1fr 1fr ;
text-align: center;
  gap: 20px;
    }
    .AboutSecBox {
      background-color: black;
      display: flex;
      flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.AboutBoxSpanNum {
  text-align: center;
      color: #FFFFFF00;
    font-family: "Oswald", Sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -4px;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;
  
}

.AboutBoxSpanText {
        font-size: 10px;
    letter-spacing: 2px;
  color: white;
  padding-bottom: 10px;

}