.ExploreContainer {
  position: relative;
  background-image: url('./assets/exploreImage.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ExploreOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #6bb0ff;
  opacity: 0.79;
}
.ExploreContainer h2,
.ExploreContainer h1,
.ExploreContainer p {
  z-index: 1;
}

.ExploreContainer h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: 'sacramento';
  margin-top: 50px;
  color: #222222;
}

.ExploreContainer h1 {
  font-size: 42px;
  letter-spacing: -2.3px;
  line-height: 0.94em;
  font-family: 'jost';
  font-weight: 400;
  padding: 16px;
  text-align: center;
  color: #222222;
}

.ExploreContainer p {
  font-family: 'jost';
  font-size: 15px;
  line-height: 1;
  color: #00000072;
  padding-bottom: 16px;
}

.CardContainerFirst {
  /* ok this is where am poking */
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.front,
.back {
  padding: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive;
  border-radius: 24px 24px 24px 24px;
  position: absolute;
}


.front > h3 {
  font-size: 24px;
  font-family: 'jost';
  font-weight: 400;
  padding-bottom: 20px;
} 

.front > span {

  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;

}


.front > p {
  color: #000000B3;
  font-size: 15px;
  font-family: 'jost';
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
} 







.front {
  background-color:  #FFFFFF96;
  z-index: 2;
  backface-visibility: hidden;
  color: black;  
}

.back {
  background-image: url(./assets/aboutUsImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  z-index: 1;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: relative;
}



.back > h3 {
  font-size: 24px;
  font-family: 'jost';
  font-weight: 500;
  padding-bottom: 20px;
} 

.back > span {

  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;

}


.back > p {
  color: #FFFFFFCC;
  font-size: 15px;
  font-family: 'jost';
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
} 


.cardContainer:hover .card {
  transform: rotateY(180deg);
}

.cardContainer {
  width: 450px;

  perspective: 1000px;
  height: 280px;
}


.backOverLay{
position: absolute;
  background-color: #1E1E1E78;
  border-radius: 24px 24px 24px 24px;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -4;

}