@font-face {
    font-family: 'sacramento';
    src: url('./fonts/Sacramento.ttf') format('truetype');
}

@font-face {
    font-family : 'jost';
    src: url('./fonts/Jost.ttf') format('truetype');
}

.introDiv {
position: absolute;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 55px 10px 0 10px;
    text-align: center;
    gap: 15px;

}


.introDiv > h2 {
    font-family: 'sacramento';
    font-weight: 600;
}

.introDiv > p {
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.4em;
    font-family: 'jost';
}

.introDiv > h1 {

    font-size: 44px;
    font-family: jost;
    font-weight: 400;
}