


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Nav > ul > li > a {
    text-decoration: none;
    color: inherit; 
  }

.Nav > ul{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'JOST';
    font-weight: 400;
    font-size: 18px;
    color: #222222;
    text-transform: uppercase;
} 

.Nav > ul > li {
    list-style: none;
    padding: 18px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}






